<div data-clip="today">
    <div class="today-clip__head">
        <div class="title">TODAY</div>
        <div class="date"><%= new Date().toLocaleDateString('es-ES', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }).toUpperCase() %></div> 
    </div>
    <div class="today-clip__body">
        <!-- TODO: Representar esquéleto de carga -->
    </div>
</div>