<div data-clip="today" class="today-view view">
    <div class="today-view__head">
        <div class="today-view__head-title">TODAY</div>
        <div class="today-view__head-date"><%= new Date().toLocaleDateString('es-ES', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }).toUpperCase() %></div> 
    </div>
    <div class="today-view__body">
        <!-- TODO: Representar esquéleto de carga -->
    </div>
</div>