[data-clip="today"] {
    display: block;
    padding: 16px;

    > .head {
        margin-bottom: 16px;

        > .title {
            color: #ff0;
            font-size: 18px;
            font-weight: bold;
        }

        > .date {
            color: #fffa;
            font-size: 14px;            
        }
    }

    > .body {}
}