<div class="activity-card card">
    <div class="activity-card__check<%- options.data.status === 'completed' ? ' activity-card__check--done' : '' %>"></div>
    <div class="activity-card__desc"><%= options.data.description %></div>
</card-clip>