<card-clip>
    <div class="card__top-bar">
        <div class="card__check<%- options.data.status === 'completed' ? ' card__check--on' : '' %>"></div>
    </div>
    <div class="card__body"><%= options.data.description %></div>
</card-clip>