[data-clip="card"] {
    display: block;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 16px;
    background-color: #0002;
}

.card__top-bar {
    display: flex;
    justify-content: flex-end;
}

.card__check {
    width: 16px;
    height: 16px;
    border: 2px solid #0008;
    border-radius: 50%;
}